<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/dashboard.css">
    <link rel="stylesheet" href="./css/footer.css"> -->
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script src="https://kit.fontawesome.com/0c4d6ce46a.js" crossorigin="anonymous"></script>

<title>Dashboard</title>
</head>
<body id="dshbrd-pg">
    <nav>
        <div class="mobile-menu">
            <div class="logo-container">
                <a style="text-decoration: none; color: #721121" href="/"> <h3>RuqGen</h3> </a>
            </div>
            <a href="" class="hamburger" onclick="toggleMenu()">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </a>
        </div>
        
    
    </nav>
    <main>
        <h1>Welcome, <span><%=user.first_name %></span>!</h1>
        <p class="tagline">It's a good day to be free of legal hassles</p>
        <section class="preview-section">
            <div class="preview-card">
                <h4>Terms & Conditions Generator</h4>
                <div class="wrap-bottom">
                    <div class="desc-btn">
                        <p>An easy-to-use and powerful generator that creates terms and conditions automatically based on user inputs.</p>

                        <a href="/newtc" class="start-btn">Generate

                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="preview-card">
                <h4>Privacy Policy  Generator</h4>
                <div class="wrap-bottom">
                    <div class="desc-btn">
                       <p>Our software analyzes your data and generates privacy policies using information provided by you.</p>

                        <a href="/newpp" class="start-btn">Generate


                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="preview-card">
                <h4>Drafts</h4>
                <div class="wrap-bottom">
                    <div class="desc-btn">
                       <p>All your progress are saved here. Pick up where you left off.</p>
                        <a href="/myTemplates" class="start-btn">Resume
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="preview-card">
                <h4>Completed</h4>
                <div class="wrap-bottom">
                    <div class="desc-btn">
                        <p>Need to revisit an old document? Find all your completed documents here.</p>
                        <a href="/myTemplates" class="start-btn">View
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="ft-logo">
            <p>Questions? Email us at support@test.com</p>
            <a style="text-decoration: none; color: #FFFFFF" href="/"> <h3>RuqGen</h3> </a>
        </div>
        <div class="disclaimer-questions">
            <div class="footerlinks">
                <p>Disclaimer: Please note that legal information, including legal templates and legal policies, is not legal advice.
                    Information and services provided on the site are for informational and self-help purposes only and
                    are not to be a substitute for professional legal advice. <a href="#"> Read the full disclaimer.</a></p>
            </div>
            <div class="footer-txt">
               
                <ul>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href=""><span class="circle-divider"></span>Terms of Use</a></li>
                </ul>
                <p>RuqGen &copy; <span id='year'></span>. All rights reserved.</p>
            </div> 
        </div>
    </footer>
    <script src="{% static '/JS/dashboard.js' %}"></script>
</body>
</html>