
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>78tcgen!</title>
  
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="shortcut icon" href="{% static '/assets/Logo.svg' %}">


    <script src="https://kit.fontawesome.com/0c4d6ce46a.js" crossorigin="anonymous"></script>
</head>
<body id="landing-pg">
    <header class="header">
        <nav class="nav-js">
            <div class="mobile-menu">
                <!-- <img src="/images/logo2.png" alt="logo" class="nav-logo"> -->
               <a style="text-decoration: none; color: #721121" href="/"> <h3>RuqGen</h3> </a>
                <a href="" class="hamburger" onclick="toggleMenu()">
                     <!-- <img href="./assets/{{menu.svg}}"  alt="menu" width="32px" height="32px" class="menu-btn">-->
                    <img src="/images/menu.svg" alt="menu" width="32px" height="32px" class="menu-btn">
                    <!-- <span class="bars"></span>
                    <span class="bars"></span>
                    <span class="bars"></span> -->
                </a>
            
            </div>
            <div class="links-btns">
                <ul class="nav-links">
                    <li><a href="/account/teamdetails">Our Team</a></li>
                    <!-- <li><a href="#">Features</a></li> -->
                    <li><a href="/account/faq">FAQs</a></li>
                    <li><a href="/account/contact">Contact Us</a></li>
                </ul>
                <div class="nav-btns">
                    <% if (currentUser) {%>
                    <a href="/logout"><button class="btn-1">Logout</button></a>
                     <%} else {%>
                    <a href="/login"><button class="btn-1">Login</button></a>
                    <a href="/register"><button class="btn-2">Get Started</button></a>
                     <% } %>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="hero-section">
            <div class="hero-text">
                <h1>No more licit problems</h1>
                <p>RuqGen is an easy-to-use tool dedicated to establishing and maintaining your brand's Terms and Conditions and Privacy Policy in a centralized location. <br>
                Ideally the best for all businesses and personal brands.
                Stressless, Smooth, Free and Easy to understand!</p>
                <% if (currentUser) {%>
                <a href="/dashboard/<%=currentUser%>"><button>My Dashboard</button></a>
                <% }else { %>
                <a href="/register"><button>Get Started</button></a>
                    <% } %>
            </div>
            <div class="hero-img">
                <img src="/images/hero-image.svg" alt="hero-page image">
            </div>
        </section>
        <section class="justification">
            <div class="just-text">
                <h2>Why you need Terms and conditions and Privacy Policies documentation</h2>
                <p>All websites interact with and collect data about their visitors in one way or another. This is even more applicable in the case of an e-commerce store. E-commerce sites typically collect personal data like names, email address, IP addresses, session activity and payment details, to name a few. For this reason, a privacy policy is vital as it protects website owners and customers alike, while also ensuring that your website complies with legal obligations.</p>
            </div>
        </section>
        <section class="our-services">
            <div class="services-container">
                <h2>Our Services</h2>
                <p class="desc">The easiest ways to create your own terms and conditions, or privacy policy for your website or app.</p>
                <div class="template-container">
                    <div class="template-card os-1">
                        <img src="images/tc.png" alt="terms-and-condition icon">
                        <h4>Terms & Conditions <br> Generator</h4>
                        <p>The easy to use generator will help you craft professional legal working in minutes.</p>
                    </div>
                    <div class="template-card os-2">
                        <img src="images/pp.png" alt="shield icon">
                        <h4>Privacy Policy <br> Generator</h4>
                        <p>The easy to use generator will help you craft professional legal working in minutes.</p>
                    </div>
                </div>
            </div>
            <a href="account/register"><button>Start Generating</button></a>
        </section>/
       
    </main>
    <footer>
        <div class="ft-logo">
            <p>Questions? Email us at support@test.com</p>
            <a style="text-decoration: none; color: #FFFFFF" href="/"> <h3>RuqGen</h3> </a>
        </div>
        <div class="disclaimer-questions">
            <div class="footerlinks">
                <p>Disclaimer: Please note that legal information, including legal templates and legal policies, is not legal advice.
                    Information and services provided on the site are for informational and self-help purposes only and
                    are not to be a substitute for professional legal advice. <a href="#"> Read the full disclaimer.</a></p>
            </div>
            <div class="footer-txt">
               
                <ul>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href=""><span class="circle-divider"></span>Terms of Use</a></li>
                </ul>
                <p>RuqGen &copy; <span id='year'></span>. All rights reserved.</p>
            </div> 
        </div>
    </footer>
    <!-- <script src="{% static '/JS/landing.js' %}"></script> -->
    <script>
        // Mobile reponsiveness
let menu = document.querySelector('.hamburger');
let menuClose = document.querySelector('.menu-btn');

function toggleMenu() {
    let navLinks = document.querySelector('.nav-links');
    let navBtns = document.querySelector('.nav-btns');
    let header = document.querySelector(".header");
    let navbar = document.querySelector('.nav-js');

    if (((navLinks.style.display === 'flex') && (navBtns.style.display === 'flex')) && (navLinks.style.flexDirection !== 'column')){
        menuClose.src = './assets/menu.svg';
        navLinks.style.display = 'none';
        navBtns.style.display = 'none';
        navbar.style.height = 'auto';
        navbar.style.backgroundColor = '#fff';
        
        console.log(true);
    }else{
        navLinks.style.display = 'flex';
        navBtns.style.display = 'flex';
        // addBtns.style.display = 'flex';
        menuClose.src = './assets/close-circle.svg';
        navbar.style.height = '100vh';
        navbar.style.backgroundColor = '#721121';
        navbar.style.color = '#fff';
        header.style.paddingTop = '0px';
        console.log(false);
    }
}

menu.addEventListener('click', (e) => {
    e.preventDefault();
    // toggleMenu();
});



// Carousel

//To get the carousel buttons
let nextBtn = document.querySelector('.next');
let prevBtn = document.querySelector('.prev');
let skipOneBtn = document.querySelector('.skip-btn');


// To get the review container and review card
let reviewWrap = document.querySelector('.review-wrapper');
let card = reviewWrap.getElementsByClassName('review-card');

//Funtion to slide to next card
function next() {
    reviewWrap.append(card[0]);
}


//Funtion to slide to prev card
function prev() {
    reviewWrap.prepend(card[card.length -1]);
}

// function skipOne() {
//     reviewWrap.append(card[-1]);
// }


//To prevent reload
prevBtn.addEventListener('click', (e) => {
    e.preventDefault();
})

nextBtn.addEventListener('click', (e) => {
    e.preventDefault();
})

// skipOneBtn.addEventListener('click', (e) => {
//     e.preventDefault();
// })


// Footer
let year = document.getElementById('year');
let yyyy = new Date();
year.textContent = yyyy.getFullYear();
    </script>
</body>
</html>