<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>New Template</h3>
    <form action="/index" method="POST">
        <!-- <div>
            <select name="tc" id="tc">
                <% for(let tc of tcs) { %> 
                    <option value="<%=tc%>"><%=tc%></option>
                <% } %> 
            </select>
        </div> -->
        <div>
            <label for="company_name">company name</label>
            <input type="text" name="company_name" id="company_name" required>
        </div>
        <div>
            <label for="company_website">company website</label>
            <input type="text" name="company_website" id="company_website" required>
        </div>
        <div>
            <label for="country">Country</label>
            <input type="text" name="country" id="country" required>
        </div>
        <div>
            <label for="policyEffectiveDate">policyEffectiveDate</label>
            <input type="text" name="policyEffeciveDate" id="policyEffeciveDate" required>
        </div>
        <div>
            <label for="address">Address</label>
            <input type="text" name="address" id="address" required>
        </div>
        <div>
            <label for="phone">Mobile No</label>
            <input type="text" name="phone" id="phone" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" required>
        </div>
        <div>
            <label for="industry">Industry</label>
            <select name="industry" id="industry">
                <option value="Generic">Generic</option>
                <option value="Finance">Finance</option>
                <option value="Tech">Tech</option>
                <option value="E-Commerce">E-Commerce</option>
                <option value="Art">Art</option>
                <option value="Entertainment">Entertainment</option>
            </select>
        </div>
        <div>
            <label for="privacy">Privacy</label>
            <input type="checkbox" checked="checked" name="privacy" id="privacy">
        </div>
        <div>
            <label for="gdrp">GDRP Wording</label>
            <input type="checkbox" checked="checked" name="gdrp" id="gdrp" >
        </div>
        <div>
            <label for="ads">Ads</label>
            <input type="checkbox" checked="checked" name="ads" id="ads">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>