/* Navbar */
header{
    padding-top: 1rem;
    border:0 0 1px solid #a5a5a5;
}

header nav{
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-between;
    /* padding:0 120px; */
    width: 83%;
    margin: 0 auto;
}

header .nav-logo{
    width: 64px;
    height: 64px;
}

nav ul {
    list-style: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    /* width: 50%; */
    margin-right: 40px;
}

.links-btns{
    display: flex;
    justify-content: space-between;
}

.nav-links li{
    list-style-type: none;
    margin-right: 48px;
}

.nav-links a{
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    line-height: 24px;
}

.nav-links:last-child{
    padding-right: 40px;
}

.nav-btns{
    /* width: 17%; */
    display: flex;
    align-items: center;
}

.nav-btns a button{
    border: 2px solid #721121;
    border-radius: 8px;
    line-height: 32px;
    padding: 4px 1.5rem;
    font-size: 20px;
    font-weight: 600;
    padding: 4px 24px;
}

.nav-btns .btn-1{
    color: #721121;
    background-color: #fff;
    margin-right: 1rem;
}

.nav-btns .btn-2{
    color:#fff;
    background-color: #721121;
}

.hamburger{
    display: none;
}

/* Hover, Active, Focus states */
a:active{
    background-color: transparent;
}

.nav-links a:hover{
    color: #a1606b;
}

.nav-links a:focus{
    color: #721121;
    border: 2px solid #e3cfd3;
    border-radius: 16px;
    padding: 8px 16px;
}

.nav-links a:active, .nav-links .active-link{
    color: #4c0b16;
}

.nav-btns .btn-1:hover{
    background-color: rgba(138, 57, 70, 0.1);
    border: 2px solid #b98890;
}

.nav-btns .btn-1:focus{
    background-color: rgba(138, 57, 70, 0.2);
}

.nav-btns .btn-1:active{
    color: #4c0b16;
    border: 2px solid #4c0b16;
}

.nav-btns .btn-2:hover{
    background-color: #8a3946;
    box-shadow: 0px 4px 8px rgba(114, 17, 33, 0.32);
}

.nav-btns .btn-2:focus{
    border: 2px solid #ffc07f;
}

.nav-btns .btn-2:active{
    background-color: #4c0b16;
}

/* Navbar ends */